body{
    text-align: center;
}

.Button{
    height: 100px;
    width: 100px;
    border: none;
    margin: 10px;
    background-color: red;
    /* border: 2px solid black; */
    border-radius: 75px;
    cursor: pointer;
}

.choice-image{
    height: 90px;
    width: 90px;
    border-radius: 75px;
}

